@tailwind base;
@tailwind components;
@tailwind utilities;

#openDevToolButton {
  pointer-events: all;
  border: 0 solid transparent;
  border-radius: 0 8px 0 0;
}

#phone-island-container {
  .draggableAnchor,
  .pi-absolute,
  .pi-pointer-events-auto {
    transform: none !important;
    -webkit-app-region: drag !important;
  }

  .noDraggableAnchor,
  button,
  .pi-flex,
  .pi-relative {
    -webkit-app-region: no-drag !important;
  }

  .pi-absolute.pi-w-full.pi-bg-gray-500.pi-flex.pi-justify-between.-pi-mt-10.-pi-z-10.pi-font-sans.pi-items-top.pi-px-4.pi-pt-3
    > *,
  .pi-absolute.pi-w-full.pi-bg-gray-500.pi-flex.pi-justify-between.-pi-mt-10.-pi-z-10.pi-font-sans.pi-items-top.pi-px-6.pi-pt-3
    > * {
    -webkit-app-region: no-drag !important;
    cursor: pointer !important;
    pointer-events: all;
  }
}

.light ::-webkit-scrollbar {
  width: 5px;
  background-color: #f9fafb;
  -webkit-app-region: no-drag;
  border-radius: 6px;
}

.light ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #374151;
  -webkit-app-region: no-drag;
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar {
  width: 5px;
  background-color: #111827;
  -webkit-app-region: no-drag;
}

.dark ::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #374151;
  -webkit-app-region: no-drag;
  border-radius: 9999px;
}

* {
  outline-color: transparent !important;
}

@layer base {
  #root {
    @apply h-full;
  }

  html,
  body {
    @apply h-full;
    @apply select-none;
  }
}
